<%- if controller_name != 'sessions' %>
  <span style="background-color: #f2f2f2; font-size: 20px;">すでに登録済みの方</span><br />
  <div class="ml-4 mt-3"><%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。</div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span style="background-color: #f2f2f2; font-size: 20px;">会員登録がお済みでない方</span><br />
  <div class="ml-4 mt-3"><%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行なってください。</div>
<% end %>
