<h3>投稿一覧</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th>スポット</th>
      <th>投稿者</th>
      <th>投稿日</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>image</td>
      <td>スポット</td>
      <td>人</td>
      <td>日付</td>
      <td>いいね</td>
      <td>コメント</td>
    </tr>
  </tbody>
</table>