<% if @post.get_image %>
  <% @post.image.each do |image| %>
    <%= image_tag image, size: "200x200" %>
  <% end %>
<% end %>
<h5>住所</h5>
<%= @post.address %><br>
投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %>
