<div class="container">
  <div class="my-3 ml-5">
    <h3>投稿一覧</h3>
  </div>
  <div class="row mx-2">
    <%= render "admin/posts/admin_post_card", posts: @posts %>
    <%= paginate @posts %>
  </div>
</div>