<h3>投稿詳細</h3>
<h4><%= @post.post_name %></h4>
<div><%= @customer.nickname %></div>
<h5><%= render "public/post_comments/counter", post: @post %></h5>
<div class="post-comments">
  <%= render "public/post_comments/comment", post: @post %>
</div>
