$('.post-comments').html("<%= j(render 'public/post_comments/comment', post: @post) %>");
$("#post_comment_comment").val('')
$('#flash-message').html("<%= j(render 'layouts/flash') %>");
<!--新しいコメントが投稿されたら<div id="comments-error"></div>内を空にする（エラーメッセージが消える）-->
if ($("#comments-error").length){
  $("#comments-error").empty();
}