@use '~bootstrap/scss/bootstrap';


.box {
  position: relative;

  img{
    width: 100%;
  }
  .north_area {
    position: absolute;
    top: 10%;
    left: 24%;
    font-size: 25px;
  }
  .central_area {
    position: absolute;
    top: 52%;
    left: 42%;
    font-size: 25px;
  }
  .west_area {
    position: absolute;
    top: 73%;
    left: 0%;
    font-size: 25px;
  }
  .east_area {
    position: absolute;
    top: 70%;
    left: 70%;
    font-size: 25px;
  }
}
