@use '~bootstrap/scss/bootstrap';

li {
  list-style: none;
}

body {
  background-color: snow;
}

.area_detail {
  font-size: 20px;
}

.box {
  position: relative;

  img{
    width: 100%;
  }
  .north_area {
    position: absolute;
    top: 10%;
    left: 24%;
    font-size: 25px;
  }
  .central_area {
    position: absolute;
    top: 52%;
    left: 40%;
    font-size: 25px;
  }
  .west_area {
    position: absolute;
    top: 73%;
    left: 0%;
    font-size: 25px;
  }
  .east_area {
    position: absolute;
    top: 70%;
    left: 70%;
    font-size: 25px;
  }
}

.post_img {
  object-fit: cover;
}

.customer-img {
  object-fit: cover;
}

.card {
  background-color: initial;
}

.card:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  cursor: pointer;
}

.card-img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding-bottom: inherit;
}

.card-text {
  display: inline-flex;
  margin: 0 0 0 auto;
  height: 50px;
  width: 200px;
}

.card-img-top {
  height: 120px;
  object-fit: cover;
}

.post-accessory {
  display: inline-flex;
}

.post-show-img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: center;
}

.comment-form {
  border-radius: 15px;
  background-color: aliceblue;
}