@use '~bootstrap/scss/bootstrap';

body {
  background-color: #ffefd5;
}

.box {
  position: relative;

  img{
    width: 100%;
  }
  .north_area {
    position: absolute;
    top: 10%;
    left: 24%;
    font-size: 25px;
  }
  .central_area {
    position: absolute;
    top: 52%;
    left: 42%;
    font-size: 25px;
  }
  .west_area {
    position: absolute;
    top: 73%;
    left: 0%;
    font-size: 25px;
  }
  .east_area {
    position: absolute;
    top: 70%;
    left: 70%;
    font-size: 25px;
  }
}

.post_img {
  object-fit: cover;
}

.customer-img {
  object-fit: cover;
}

.card {
  background-color: initial;
}

.card:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  cursor: pointer;
}

.card-img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding-bottom: inherit;
}

.card-text {
  display: inline-flex;
  margin: 0 0 0 auto;
  height: 50px;
  width: 200px;
}

.post-accessory {
  display: inline-flex;
}